# Git ignore rules 
# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Environments
.env
.venv
*.env

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# MLflow artifacts
mlruns/

# DVC artifacts (if we use later)
*# Ignore all DVC-tracked data
*.dvc
# But keep the DVC metadata files
!*.dvc

.cache/
plots/

# Data files
*.csv
*.xlsx
data/
!data/Online_Retail.csv.dvc

